@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat.ttf");
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("/fonts/PlayfairDisplay.ttf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a79351;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8a703e;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #a79351 transparent;
}

@layer components {
  .input {
    @apply w-full h-11 border-b bg-transparent resize-none outline-none transition-all duration-300 px-3 text-xs focus:border-primaryColor sm:text-base;
  }

  .inputError {
    @apply text-error text-xs dark:text-errorDark;
  }

  .btnAction {
    @apply border rounded-[3px] w-[140px] h-[100px] flex flex-col justify-center gap-2 items-center px-2 text-sm transition-all duration-300 relative hover:text-letterColorLight after:content-[''] after:absolute after:w-0 after:h-full after:left-0 after:transition-all after:duration-300 after:-z-10 after:hover:w-full;
  }
}

@layer utilities {
  .hiddenScrollbar::-webkit-scrollbar {
    width: 0;
  }

  .scrolledHeader {
    @apply bg-bgColor text-secondaryColor dark:bg-secondaryColor dark:text-letterColorLight;
  }

  .menu-line {
    @apply bg-bgColor;
  }

  .scrolledHeader .menu-line {
    @apply bg-secondaryColor dark:bg-bgColor;
  }

  .menu-open .menu-line {
    @apply bg-secondaryColor dark:bg-bgColor;
  }
}
