@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat.ttf");
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("/fonts/PlayfairDisplay.ttf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .input {
    @apply w-full h-11 border-b bg-transparent resize-none outline-none transition-all duration-300 px-3 text-xs focus:border-primaryColor sm:text-base;
  }

  .inputError {
    @apply text-error text-xs dark:text-errorDark sm:text-sm;
  }
}
